<% if flash[:errors] %>
<div class="errors">
  <h4>Oops!</h4>
  <% flash[:errors].each do |error| %>
  <p><%= error %></p>
  <% end %>
</div>
<% end %>
<% if flash[:notice] %>
<h1><%= flash[:notice] %></h1>
<% end %>

<div id="login">
  <div class="login-card">
    <h3 class="card-title">Sign In</h3>

    <div class="content">
      <%= form_tag login_path do %>
        <%= label_tag :email %>
        <%= email_field_tag(:"email", ' ', options = {:id => "email", :class => "form-control", :placeholder => "example@doman.com", :required => true, :autofocus => true}) %>
        <%= label_tag :password %>
        <%= password_field_tag(:password, '', options = {:id => "password", :class => "form-control", :required => true}) %>
        <%= submit_tag("Login", options = {:class => "btn btn-primary"}) %>
      <% end %>
      <br>
      <p>New user? <%= link_to "Sign up now!", signup_path, :class => "btn-link"%></p>
    </div>

  <!-- </div> -->
<!-- </div> -->
</div>
</div>
