<div id="login">
  <div class="login-card">
    <h3 class="card-title">Sign In</h3>

    <div class="content">
      <%= form_for(:session, url: login_path, :html => {:class => 'form-signin'}) do |f| %>
      <div class="form-label-group">
        <%= f.label :email %>
        <%= f.text_field :email, id: 'email', class: 'form-control', :required => true, :autofocus => true %>
      </div>

      <div class="form-label-group">
        <%= f.label :password %>
        <%= f.password_field :password, id: 'password', class: 'form-control', :required => true %>
      </div>


      <%= f.submit "Log In", class: "btn btn-primary" %>
      <% end %>
      <br>
      <p>New user? <%= link_to "Sign up now!", signup_path, :class => "btn-link"%></p>
    </div>
  </div>
