
<div class="container is-fluid">
<h3 class="title is-3">Your articles</h3>
  <% @user.pages.reverse_each do |page| %>
    <div class="box ">
      <div class="notification">
        <% if page.user_id == current_user.id %>
          <!-- <nav class="navbar-end edit-bar" role="navigation" aria-label="main navigation"> -->
          <!-- <div class="navbar-item has-dropdown is-hoverable edit-button"> -->
          <!-- <a class="navbar-link dropdown-right is-arrowless"> -->
          <p class="hover_description">Edit</p>
          <%= link_to "", (edit_page_path), :class=>"navbar-item fas fa-edit " %>
          <!-- <i class="far fa-edit "></i> -->
          <!-- </nav> -->
        <% end %>
        <h1 class="title"><%= page.title %></h1>
        <div class="box">
          <article class="media">
            <div class="media-content">
              <figure class="image">
                <img src="<%= page.imgurl %>" alt="<%= page.imgurl %>">
                <br>
              </figure>
            </div>
          </article>
        </div>
        <!-- Comment div goes here -->
      </div>
    <% end %>
  </div>
  <h3 class="title is-3">Your liked articles</h3>
  <div class="container is-fluid">
    <% @user.likes.reverse_each do |like| %>
      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="<%= like.page.imgurl%>">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= like.page.title%></strong>
                <br>
                <span style="display:block;text-overflow: ellipsis;height: 75px;overflow: hidden;">
                  <%= like.page.content %>
                </span>
                <%= link_to "... read more", like.page %>
              </p>
            </div>
          </div>
          <%= button_to "unlike", {:controller => :likes, :action => 'destroy', :id => like.id }, :method => :delete %>
        </article>
      </div>
    <%end%>
  </div>
