<div class="container is-fluid">
  <% @user.pages.reverse_each do |post| %>
  <div class="box ">
    <% if post.user_id == current_user.id %>
    <nav class="navbar-end" role="navigation" aria-label="main navigation">
      <div class="navbar-item has-dropdown is-hoverable edit-button">
        <!-- <a class="navbar-link dropdown-right is-arrowless"> -->
        <p class="hover_description">Edit</p>
          <%= link_to "", (edit_page_path), :class=>"navbar-item fas fa-edit " %>
          <!-- <i class="far fa-edit "></i> -->

      </nav>
      <% end %>

      <strong><%= post.title %></strong>
      <div class="box">
        <article class="media">
          <div class="media-content">
            <figure class="image">
              <img src="<%= post.imgurl %>" alt="<%= post.imgurl %>">
              <br>
            </figure>
          </div>
        </article>

      </div>
      <div class="media-content">
        <p><%= post.content %></p><br>
      </div>
    </div>
    <% end %>
  </div>
