
<div class="box hero widescreen">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img class="is-rounded" src="<%= page.imgurl%>">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <!-- <p> -->
        <strong><%= page.title%></strong>
        <br>
        <div style="display:block;text-overflow: ellipsis;height: 50px;overflow: hidden;">
          <%= simple_format page.content %>
        </div>
        <%= link_to "... read more", page %>
        <!-- </p> -->
      </div>
    </div>
    <%= render 'shared/like_button', page: page%>
  </article>
  <div class="engagement-wrap is-right" >
    <% if page.likes.any?%>
      <span class="likes" ><%= page.likes.length%>
        <i class="fas fa-thumbs-up" ></i>
      </span>
    <% else %>
      <span class="likes">
        <i class="far fa-thumbs-up"></i>
      </span>
    <%end%>
    <% if page.comments.any?%>
      <span class="comments">
        <%= page.comments.length%>
        <i class="fas fa-comments"></i>
      </span>
    <% else %>
      <span class="comments">
        <i class="far fa-comments"></i></span>
    <%end%>
  </div>
</div>
