<!-- Render a post within a box -->
<div class="box container-wrap">
  <div class="container is-center">
    <div class="notification">
      <%= render 'shared/like_button', page: @page%>
      <h1 class="title is-2" id="page-title"><%= @page.title %></h1>
      <small class="subtitle is-7 media-right">by <%= @page.user.name %></small>
      <span class="tag is-dark">#<%= @page.tag.name %></span>
      <br>
      <br>
      <div class="box page-box">
        <div class="media-content">
          <p class="image">
            <img src="<%= @page.imgurl%>">
          </p>
        </div>
      </div>
      <div class="container is-fluid">
        <p><%= simple_format @page.content %></p>
      </div>
    </div>
  </div>
  <div class="engagement-wrap">
    <% if @page.likes.any?%>
      <span class="likes"><%= @page.likes.length%>
        <i class="fas fa-thumbs-up"></i>
      </span>
    <% else %>
      <span class="likes">
        <i class="far fa-thumbs-up"></i>
      </span>
    <%end%>
    <% if @page.comments.any?%>
      <span class="comments">
        <%= @page.comments.length%>
        <i class="fas fa-comments"></i>
      </span>
    <% else %>
      <span class="comments">
        <i class="far fa-comments"></i></span>
    <%end%>
  </div>
</div>
<!-- Existing Comments -->
<div class="box">
  <!-- <article class="media"> -->
  <% @page.comments.reverse_each do |comment|%>
    <%= render 'shared/comment', comment: comment %>
  <% end %>
  <!-- </article> -->
  <!-- Create Comment -->
<%= render 'shared/new_comment', page: @page %>
</div>
