<div class="box">
  <% if @page.user_id == current_user.id %>
  <nav class="navbar-end" role="navigation" aria-label="main navigation">
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link dropdown-right is-arrowless">
      <i class="far fa-edit fa-border"></i>
    </a>

    <div class="navbar-dropdown edit-right">
      <div class="navbar-item button is-light">
        <a class="link is-link"><%= link_to 'Edit', edit_page_path(@page), :class => "button is-normal is-light" %></a>
      </div>
    </div>
  </div>

    </nav>
  <% else %>
    <%= form_tag likes_path do%>
    <%= hidden_field_tag(:"like[user_id]", current_user.id) %>
    <%= hidden_field_tag(:"like[page_id]", @page.id) %>
    <% if !(@page.likes.any? { |like| like.user_id == current_user.id }) %>
      <%= submit_tag("Like") %>
    <%end%>
  <%end%>
  <%end%>
  <div class="container is-fluid">
    <div class="notification">
      <h1><strong><%= @page.title %></strong></h1>
      <small class="media-right">by <%= @page.user.name %></small>
      <br>
      <br>
      <div class="box show-image">
        <div class="media-content">
          <figure class="media-left">
            <p class="image">
              <img src="<%= @page.imgurl%>">
            </p>
          </figure>
        </div>
      </div>

      <div class="container is-fluid">
        <p><%= @page.content %></p>
      </div>
    </div>
  </div>

<br>
</div>
