<div class="container is-fluid">
  <div class="notification">
    <h1><strong><%= @page.title %></strong></h1>
    <br>
    <%
=begin%>
    <small><%= @page.user.name %></small>
    <%
=end%>
    <p><%= @page.content %></p>
  </div>
  <%
=begin%>
  <% if @page.user_id == @current_user.id %>
    <%= link_to 'Edit this page', edit_page_path(@page) %>
  <% end %>
  <%
=end%>
  <%= form_tag likes_path do%>
    <%= hidden_field_tag(:"like[user_id]", current_user.id) %>
    <%= hidden_field_tag(:"like[page_id]", @page.id) %>
    <%= submit_tag("Like") %>
  <%end%>
</div>
