<div class="box">
  <div class="container is-fluid">
    <div class="notification">
      <% if @page.user_id == current_user.id %>
        <!-- <nav class="navbar-end" role="navigation" aria-label="main navigation"> -->
        <!-- <div class="navbar-item has-dropdown is-hoverable edit-button"> -->
        <!-- <a class="navbar-link dropdown-right is-arrowless"> -->
        <!--  -->
        <%= link_to "", (edit_page_path), :class=>"navbar-item fas fa-edit " %>
        <!-- <p class="hover_description">Edit</p> -->
        <!-- </nav> -->
      <% else %>
        <%= form_tag likes_path do%>
          <%= hidden_field_tag(:"like[user_id]", current_user.id) %>
          <%= hidden_field_tag(:"like[page_id]", @page.id) %>
          <% if !(@page.likes.any? { |like| like.user_id == current_user.id }) %>
            <%= submit_tag("Like") %>
          <%end%>
        <%end%>
      <%end%>
      <h1 class="title"><%= @page.title %></h1>
      <small class="media-right">by <%= link_to @page.user.name, users_path(@page.user) %></small>
      <span class="tag is-dark">#<%= @page.tag.name %></span>
      <br>
      <br>
      <div class="box show-image">
        <div class="media-content">
          <figure class="media-left">
            <p class="image">
              <img src="<%= @page.imgurl%>">
            </p>
          </figure>
        </div>
      </div>
      <div class="container is-fluid">
        <p><%= @page.content %></p>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="box">
  <%= form_tag comments_path do |f| %>
    <%= hidden_field_tag(:"comment[user_id]", current_user.id) %>
    <%= hidden_field_tag(:"comment[page_id]", @page.id) %>
    <div class="field has-addons">
      <%= text_field_tag :"comment[content]", ' ', class: "input is-normal is-info", placeholder: "Write a comment..."%>
      <div class="control">
        <%= submit_tag("Comment", options = {:class => "button is-rounded"})%>
      </div>
    </div>
  <% end %>
</div>
